.underline {
    text-decoration: line-through;
}

.header_container {
    display: flex;
    justify-content: space-between;
}

.deleted_tasks {
    border-radius: 3px;
}

.add_tasks {
    margin-top: 70px;
    width: 400px;
    border-radius: 3px;
}

.add_tasks_container {
    display: flex;
    justify-content: center;
    align-items: center;     
}

.paginator {
    margin-top: 8px;
}

.table-wrapper {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 60vh;
}

table {
    width: 1000px;
}

mat-paginator {
    display: flex;
    justify-content: center;
}

.mat-column-task,
.mat-column-description {
    width: 20%;
}

.mat-column-priority,
.mat-column-date,
.mat-column-recurring {
    width: 15%;
}

.mat-column-actions {
    width: 20%;
    text-align: center;
}

th, td {
    padding: 10px;
    text-align: center;
}

@media (max-width: 900px) {
    table {
        width: 100%;
    }
} 
