.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    // background-color: aqua;
}

.form_container {
    width: 450px;
    height: 500px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 40px;
}

button {
    border-radius: 5px;
    height: 50px;
    margin-top: 20px;
}